<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CREWPASSFRONTEND"
        tools:targetApi="31">
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".MainActivity" />

        <!--동아리 회원가입-->
        <activity android:name=".SignUp.Club.ClubSignUpActivity" />
        <activity android:name=".SignUp.Club.ClubSignUpDoneActivity"/>
        <activity android:name=".SignUp.Club.ClubSignUpEmailActivity"/>
        <activity android:name=".SignUp.Club.ClubSignUpFieldActivity"/>
        <activity android:name=".SignUp.Club.ClubSignUpRegionActivity"/>

        <!--일반 회원가입-->
        <activity android:name=".SignUp.Personal.PersonalSignUpActivity"/>
        <activity android:name=".SignUp.Personal.PersonalSignUpChooseActivity"/>
        <activity android:name=".SignUp.Personal.PersonalSignUpSchoolActivity"/>
        <activity android:name=".SignUp.Personal.PersonalSignUpDoneActivity"/>
        <activity android:name=".Home.Club.WriteRecruitmentActivity"/>

        <!--아이디비번 찾기-->
        <activity android:name=".IDPW_Find.IDPWFindActivity"/>

        <!--일반 홈화면-->
        <activity android:name=".Home.Personal.List.PersonalRecruitmentListActivity"/>
        <activity android:name=".Home.Personal.List.RecruitmentDetailActivity"/>
        <activity android:name=".Home.Personal.List.SubmitApplicationActivity"/>


        <!--익명 채팅-->
        <activity android:name=".Chat.ChattingActivity"/>



        <!--AI-->
        <activity android:name=".AI.Personal.PersonalChooseRecruitmentActivity"/>
        <activity android:name=".AI.Personal.PersonalPrepareInterviewActivity"/>


        <!--마이페이지-->
        <activity android:name=".MyPage.Personal.PersonalEditInfoActivity"/>
        <activity android:name=".MyPage.Personal.PersonalScrapActivity"/>
        <activity android:name=".MyPage.Personal.PersonalSubmitPrevActivity"/>
        <activity android:name=".MyPage.Personal.RecruitmentEditActivity"/>
    </application>

</manifest>